.custum-file-upload {
    height: 200px;
    width: 270px;

    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px  #cccccc;
    
    padding: 1.5rem;
    border-radius: 10px;
    /* box-shadow: 0px 48px 35px -48px #cccccc; */
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: #cccccc;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #cccccc;
  }
  
  .custum-file-upload input {
    display: none;
  }